body {
    background-color: rgba(37, 35, 185, 0.308);
}

.container {
    display: flex;
    margin-top: 30px;
    justify-content: center;
}



.num-label {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: beige;
    margin-right: 20px;
    width: 50px;
    align-items: center;
    border-radius: 20px;
}

.letter-label {
    margin: auto;
    display: flex;
    width: 1200px;
    justify-content: space-around;
    border-radius: 20px;
    background-color: beige;
    margin-top: 20px;
}

.board {
    background-color: rgba(143, 106, 65); 
    /* margin: auto; */
    height: 1200px;
    width: 1200px;
    display: flex;
    flex-direction: column;
}

.boardrow {
    display: flex;
    height: 100%;
    width: 100%;
    /* border: solid 2px #eee; */
}

.board-cell {
    display: flex;
    width: 100%;
    height: 100%;
    /* border: solid 2px #eee; */
}

.board-cell:hover {
    background-color: rgba(255, 255, 255, 0.5);
}

.board-cell img {
    width: 90%;
    margin: auto;
}

.board-cell img:hover {
    width: 100%;
    cursor: pointer;
}

.boardrow .moves{
    background-image: url(http://www.clker.com/cliparts/h/e/s/t/j/U/grey-circle.svg.hi.png);
    background-size: 100px;
    background-repeat: no-repeat;
    background-position: center;
}

#row1 {
    /* background-color: rgb(182, 128, 84); */
}

#row2 {
    /* background-color: rgb(230, 181, 142); */
}

.dark {
    background-color: rgb(182, 128, 84);
}

.light {
    background-color: rgb(230, 181, 142);
}